<div>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>diversity_2</mat-icon>
                <span>Travail</span>
            </ng-template>
            <div class="text-align--right">
                <button mat-mini-fab color="primary" matTooltip="Ajouter un element" (click)="openDialog('travail')">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event, travails, 'travails')">
                @for (travail of travails; track travail) {
                <div class="example-box " cdkDrag>

                    <app-accordion-sphere [item]="travail" (itemDeleted)="getAllResources()" />
                </div>
                <hr />
                }
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>settings_accessibility</mat-icon>
                <span>Perso</span>
            </ng-template>
            <div class="text-align--right">
                <button mat-mini-fab color="primary" matTooltip="Ajouter un element" (click)="openDialog('perso')">
                    <mat-icon>add</mat-icon>
                </button>
            </div>

            <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event, persos, 'perso')">
                @for (perso of persos; track perso) {
                <div class="example-box " cdkDrag>

                    <app-accordion-sphere [item]="perso" (itemDeleted)="getAllResources()" />
                </div>
                <hr />
                }
            </div>

        </mat-tab>
        <mat-tab>

            <ng-template mat-tab-label>
                <mat-icon>diversity_3</mat-icon>
                <span>Relations</span>
            </ng-template>

            <div class="text-align--right">
                <button mat-mini-fab color="primary" matTooltip="Ajouter un element" (click)="openDialog('relation')">
                    <mat-icon>add</mat-icon>
                </button>
            </div>

            <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event, relations, 'relation')">
                @for (relation of relations; track relation) {
                <div class="example-box " cdkDrag>

                    <app-accordion-sphere [item]="relation" (itemDeleted)="getAllResources()" />
                </div>
                <hr />
                }
            </div>
        </mat-tab>
    </mat-tab-group>
</div>