<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">


    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>diversity_2</mat-icon>
                <span>Travail</span>
            </ng-template>
            <div class="text-align--right">
                <button mat-mini-fab color="primary" matTooltip="Ajouter un element" (click)="openDialog('travail')">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            @for (travail of travails; track travail) {
                <mat-accordion cdkDrag class="example-box" >
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{travail['id']}} - {{travail['title']}}
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <p>{{travail['description']}}</p>
                  <mat-action-row>

                    <mat-panel-description>
                        <p>
                            Crée le : {{ travail['createdAt'] | date: 'yyyy/MM/dd HH:mm:ss' }}
                            <br />
                            Mise à jour le : {{ travail['createdAt'] | date: 'yyyy/MM/dd HH:mm:ss' }}
                        </p>
                    </mat-panel-description>
                    <button mat-button color="warn" >
                        <mat-icon>delete</mat-icon>
                        <span>Supprimer</span>
                    </button>
                    <button mat-button color="primary">
                        
                        <mat-icon>edit</mat-icon>
                        <span>Modifier</span>
                    </button>
                  </mat-action-row>
                </mat-expansion-panel>
              </mat-accordion>
            }
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>settings_accessibility</mat-icon>
                <span>Perso</span>
            </ng-template>
            <div class="text-align--right">
                <button mat-mini-fab color="primary" matTooltip="Ajouter un element" (click)="openDialog('perso')">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            

        </mat-tab>
        <mat-tab>

            <ng-template mat-tab-label>
                <mat-icon>diversity_3</mat-icon>
                <span>Relations</span>
            </ng-template>
            
            <div class="text-align--right">
                <button mat-mini-fab color="primary" matTooltip="Ajouter un element" (click)="openDialog('relation')">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>